KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INPUT_TOPIC=logs-raw
KAFKA_OUTPUT_TOPIC=logs-processed
KAFKA_ANOMALY_TOPIC=logs-anomalies
KAFKA_GROUP_ID=etl-processor

BATCH_SIZE=500
BATCH_TIMEOUT_SEC=30

# LOCAL_MODE=true pour ecrire en local au lieu de S3
LOCAL_MODE=true
LOCAL_OUTPUT_DIR=/tmp/etl-output

# Renseigner pour le mode S3
S3_BUCKET=logguardian-datalake-148761640356
S3_PREFIX=logs
AWS_REGION=eu-west-1
