KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INPUT_TOPIC=logs-processed
KAFKA_OUTPUT_TOPIC=logs-anomalies-ml
KAFKA_GROUP_ID=ml-model
MODEL_DIR=models
LOCAL_MODEL_MODE=true
SEQUENCE_LENGTH=10
DEVICE=cpu
